<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="python" arguments="wsgi.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="%PYTHONPATH%;%HOME%\site\wwwroot"/>
                <environmentVariable name="DASH_DEBUG" value="True"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>